* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Loto";
  src: url(./fonts/Lato-Bold.ttf);
}

@font-face {
  font-size: "Lato400";
  src: url(./fonts/Lato-Regular.ttf);
}

a {
  text-decoration: none;
}

body {
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;

  /* width: 100%;  */
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.top1 {
}
.header {
  min-height: 75px;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
}
.header_img {
  display: flex;
  gap: 41px;
}

.header_img_1 {
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1e4e6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__img {
  width: 50%;
}

.promo__info {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-top: 48%;
}

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__content {
  padding-left: 64px;
}

.catalog {
  display: flex;

  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.box_1 {
  position: relative;
}

.box_text {
  position: absolute;
  width: 100%;

  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.box_1_h1 {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 105px;
}

.box_1_p1 {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.box_2 {
  position: relative;
}

.box_1_h1 {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 105px;
}

.box_1_p1 {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.box_3 {
  position: relative;
}

.box_1_h1 {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 105px;
}

.box_1_p1 {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.box_4 {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box_center {
  position: absolute;
}

.box_4_h4 {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box_4_p4 {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.desktop_h4 {
  color: #222;
  font-family: "Lato";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.desktop_p {
  color: #9f9f9f;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.desktop_index {
  /* text-align: center;
  padding-top: 96px; */
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  height: 1395px;

  margin-top: 48px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lot {
  display: grid;
  grid-template-columns: 360px 360px 360px;

  justify-content: center;
  gap: 30px;
}
.lot_1 {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
  transition: all 0.5s ease;
}
.product__img {
  width: 100%;
}
.lot_1:hover {
  transform: scale(1.05);
}

.lot_1:hover .product__img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.lot_1:hover .product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
}

.lot_box_1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  padding-left: 16px;
}

.lot_text {
  color: #000;
  font-family: "Lato";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lot_p1 {
  color: #5d5d5d;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.lot_price {
  color: #f16d7f;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lot_box_1 {
}

.lot2 {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}

.button_end {
  display: flex;
  justify-content: center;

  padding-top: 48px;
}

.button {
  width: 212px;
  height: 48px;
  background-color: #fff;

  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  background: #f26376;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;

  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.button:hover {
  background: rgba(0, 0, 0, 0);
  color: #f26376;
  box-shadow: inset 0 0 0 3px #f26376;
}

.footer {
  height: 341px;
  background: #222224;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_info1 {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.footer_info_h1 {
  color: #fbfbfb;
  font-family: "loto";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.footer_info_p {
  color: #fbfbfb;
  font-family: "Lato400";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  opacity: 0.7;
}

.frame {
  position: relative;
  display: flex;
  justify-content: center;
  height: 449px;
}

.frame_img {
  position: absolute;
}

.frame_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame_box1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 350px;
}

.frame_p {
  font-family: "Loto";
  font-weight: 400;
  font-size: 20px;
  width: 360px;
  text-align: center;
  padding-top: 20px;
}

.frame_buttom {
  padding-top: 60px;
}

.input {
  padding-top: 30px;
}
.frame_buttom_h1 {
  font-family: "Loto";
  font-weight: 700;
  font-size: 24px;

  text-align: center;
}

.frame_buttom_p {
  font-family: "Loto";
  font-weight: 400;
  font-size: 18px;

  text-align: center;
}

.submit {
  width: 100px;
  height: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #f16d7f;

  border: 0;
}

.email {
  width: 250px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0;
  text-align: center;
  background-color: #e1e1e1;
}

.copyright {
  height: 80px;
  background-color: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 800px;
}

.copyright_p {
  color: #fbfbfb;
  font-family: "Loto";
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .box_1 {
    text-align: center;
  }
  .box_2 {
    text-align: center;
  }
  .box_3 {
    text-align: center;
  }

  .box_img {
    margin: 0 auto;
  }
  .box_text {
    margin: 0 auto;
  }

  .box_1_h1 {
    font-size: 18px;
  }
  .box_1_p1 {
    font-size: 18px;
  }

  .box_2 img {
    max-width: 100%;
  }
  .box_3 img {
    max-width: 100%;
  }

  .lot {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 376px) {
  .top1 {
  }

  .header {
  }
}
